@font-face {
  font-family: PARALLELS;
  src: url('../fonts/PARALLELS.otf');
}

/*
  Body
*/
body {
  font-family: 'Bahnschrift';
  position: relative;
}

/*
  Logos
*/

#nidavellir-logo {
  pointer-events: none;
}

/*
  Texto
*/

.jumbo-text {
  color: white;
}

/*
  Divs
*/

#particles-js {
  position: absolute;
  height: 100vh;
  width: 100%;
}

/*
  Cover
*/

.cover {
  background: #676767;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.cover .container-fluid {
  position: absolute;
  background: linear-gradient(0deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
}

.cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*
  Imagens
*/
.img-example {
  max-width:100%;
  max-height:100%;
}

/*
  Navbar
*/

.navbar-default {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0!important;
  border: 0;
}


/* Navbar-fat */

.navbar-fat {
  position: absolute;
  background: -webkit-linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
  background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
  padding: 40px 60px 40px 20px;
  color: white;
  transition: 0.4s;
}

.navbar-fat .navbar-nav .nav-item {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-fat .navbar-nav .nav-item a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-fat .navbar-nav .nav-item a:hover:after {
    width: 100%;
    background: white;
}

.navbar-fat .navbar-nav .nav-item a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-fat .navbar-nav .nav-item #nidavellir-logo {
  font-family: PARALLELS;
  font-size: 32px;
  font-weight: bold;
}

/* Navbar-mini */

.navbar-mini {
  background-color: white;
  position: fixed;
  transition: 0.4s;
}

.navbar-mini .navbar-nav .nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-mini .navbar-nav .nav-item a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-mini .navbar-nav .nav-item a:hover:after, .navbar-mini .navbar-nav .nav-item a.active:after {
    width: 100%;
    background: #424242;
}

.navbar-mini .navbar-nav .nav-item a {
  color: #424242;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-mini .navbar-nav .nav-item #nidavellir-logo {
  font-family: PARALLELS;
  font-size: 26px;
  font-weight: bold;
}
