@media (max-width: 990px) {

  /*
    Navbar
  */

  .navbar-fat {
    padding: 0px 0px 0px 0px;
    padding-top: 20px;
  }

  .collapse {
    display: flex !important;
  }

  .collapse .navbar-items {
    display: none;
  }

  #navbar-nav-logo {
    margin-left: 0;
    width: 100%;
  }

  .nav-logo {
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }

  .navbar-fat .navbar-nav .nav-item #nidavellir-logo {
    font-family: PARALLELS;
    font-size: 42px;
    font-weight: bold;
    margin-right: -0.3em;
  }

  /*
    Cover
  */

  .cover-secondary {
    height: calc(100vh - 55px) !important;
  }

  /*
    Logos
  */

  .cover-secondary .jumbo-text {
    font-size: 1.5rem;
  }

  .jumbo-text {
    padding: 10px;
    max-width: 100%;
    text-align: center;
  }

  /*
    disponíveis
  */

  #col-logo {
    display: none;
  }

}
